.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px;
  padding: 20px;
  min-height: 360px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 0 10px;
}
.carousel-container {
  padding-left: 0px;
  padding-right: 15px;
}

.carousel-item-padding {
  padding: 0px 0px;
  display: flex;
  justify-content: center;
}
.playlist-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px;
  padding: 20px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.playlist-item img {
  height: 60px; /* 이미지 높이를 변경할 수 있습니다. */
  margin-right: 10px;
  border-radius: 10px;
}

.playlist-item-text {
  font-size: 18px;
  font-weight: bold;
}
