.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px;
  padding: 20px;
  min-height: 360px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 0 10px;
}
.carousel-container {
  padding-left: 0px;
  padding-right: 15px;
}

.carousel-item-padding {
  padding: 0px 0px;
  display: flex;
  justify-content: center;
}
.playlist-item {
  margin-top: 0;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: 10px;
  padding: 20px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.playlist-item-text {
  font-size: 40px;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 스크롤바 트랙 (바탕색) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* 스크롤바 썸 (스크롤바 자체) */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 4px;
}

/* 스크롤바 활성화 시 썸 스타일 */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
